In [1]:
#1
def difference_from_17(n):
    if n > 17:
        return 2 * abs(n - 17)
    else:
        return 17 - n

print(difference_from_17(22))  # Output: 10
print(difference_from_17(10))  # Output: 7

10
7

In [2]:
def in_range(n):
    return (100 <= n <= 1000) or (n == 2000)

# Test
print(in_range(150))   # Output: True
print(in_range(2000))  # Output: True
print(in_range(5000))  # Output: False

True
True
False

In [3]:
def reverse_string(s):
    return s[::-1]

# Test
print(reverse_string("hello"))

olleh

In [4]:
def count_upper_lower(s):
    upper_count = sum(1 for c in s if c.isupper())
    lower_count = sum(1 for c in s if c.islower())
    return upper_count, lower_count

# Test
upper, lower = count_upper_lower("Hello World")
print(f"Uppercase: {upper}, Lowercase: {lower}")

Uppercase: 2, Lowercase: 8

In [5]:
def distinct_elements(lst):
    return list(set(lst))

# Test
print(distinct_elements([1, 2, 2, 3, 4, 4, 5]))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [6]:
def even_numbers(lst):
    return [num for num in lst if num % 2 == 0]

# Test
print(even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [7]:
def outer_function():
    def inner_function():
        return "Hello from inner function!"

    return inner_function()

# Test
print(outer_function())

Hello from inner function!

In [8]:
def student(name, age):
    student.name = name
    student.age = age
    return f"Name: {student.name}, Age: {student.age}"

# Test
print(student("Alice", 21))

Name: Alice, Age: 21

In [9]:
class Student:
    def __init__(self, student_id, student_name):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = None

    def display_attributes(self):
        print(f"ID: {self.student_id}, Name: {self.student_name}, Class: {self.student_class}")

# Test
student = Student(1, "Alice")
student.student_class = "10th Grade"
student.display_attributes()

ID: 1, Name: Alice, Class: 10th Grade

In [10]:
class Student:
    def __init__(self, student_id, student_name):
        self.student_id = student_id
        self.student_name = student_name

# Test
student1 = Student(1, "Alice")
student2 = Student(2, "Bob")

print(f"Student 1: ID = {student1.student_id}, Name = {student1.student_name}")
print(f"Student 2: ID = {student2.student_id}, Name = {student2.student_name}")

Student 1: ID = 1, Name = Alice
Student 2: ID = 2, Name = Bob

In [11]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def perimeter(self):
        return 2 * math.pi * self.radius

# Test
circle = Circle(5)
print(f"Area: {circle.area():.2f}, Perimeter: {circle.perimeter():.2f}")

Area: 78.54, Perimeter: 31.42

In [12]:
class StringManipulation:
    def __init__(self):
        self.string = ""

    def get_String(self):
        self.string = input("Enter a string: ")

    def print_String(self):
        print(self.string.upper())

# Test
s = StringManipulation()
s.get_String()
s.print_String()

Enter a string: mayank
MAYANK