In [1]:
L = [11, 12, 13, 14]

# (i) Add 50 and 60 to L
L.append(50)
L.append(60)

# (ii) Remove 11 and 13 from L
L.remove(11)
L.remove(13)

# (iii) Sort L in ascending order
L.sort()

# (iv) Sort L in descending order
L.sort(reverse=True)

# (v) Search for 13 in L
found = 13 in L

# (vi) Count the number of elements in L
count = len(L)

# (vii) Sum all the elements in L
total_sum = sum(L)

# (viii) Sum all odd numbers in L
odd_sum = sum(x for x in L if x % 2 != 0)

# (ix) Sum all even numbers in L
even_sum = sum(x for x in L if x % 2 == 0)

# (x) Sum all prime numbers in L
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(x for x in L if is_prime(x))

# (xi) Clear all the elements in L
L.clear()

# (xii) Delete L
del L

In [2]:
numbers = [1, 2, 3, 4, 5]
total_sum = 0
for num in numbers:
    total_sum += num
print(total_sum)

15

In [3]:
numbers = [1, 2, 3, 4]
product = 1
for num in numbers:
    product *= num
print(product)

24

In [4]:
array = [[['*' for _ in range(6)] for _ in range(4)] for _ in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [19]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

# (i) Add new entry key=8, value=8.8
D[8] = 8.8

# (ii) Remove key=2
D.pop(2)

# (iii) Check whether key 6 is present
key_exists = 6 in D

# (iv) Count the number of elements present in D
count = len(D)

# (v) Sum all the values present in D
total_sum = sum(D.values())

# (vi) Update the value of key 3 to 7.1
D[3] = 7.1

# (vii) Clear the dictionary
D.clear()

In [20]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# (i) Add 55 and 66 in Set S1
S1.update([55, 66])

# (ii) Remove 10 and 30 from Set S1
S1.discard(10)
S1.discard(30)

# (iii) Check whether 40 is present in S1
is_present = 40 in S1

# (iv) Find the union of S1 and S2
union_set = S1.union(S2)

# (v) Find the intersection between S1 and S2
intersection_set = S1.intersection(S2)

# (vi) Find the difference S1 - S2
difference_set = S1.difference(S2)

In [7]:
import random
import string

# (i) Print 100 random strings whose length is between 6 and 8
for _ in range(100):
    length = random.randint(6, 8)
    random_string = ''.join(random.choices(string.ascii_letters, k=length))
    print(random_string)

# (ii) Print all prime numbers between 600 and 800
for num in range(600, 801):
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
        print(num)

# (iii) Print all numbers between 100 and 1000 that are divisible by 7 and 9
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

IEnNeTE
ReMccjna
FfIxwEmI
ruQIVlZ
zFfjENX
WTuqVHu
riuidY
ztKqrTi
ZLyXSmNV
ZIJMaYK
kEoPbW
rvscfRTl
wifkUNo
zVYUoAC
KJjbLQI
qxAHHK
XzwXNA
ZDAGQZ
PpLMvJ
GTeTwk
zkPayaJw
ggIrplZD
biKWIrcU
pRKYsuPP
yjLBeBV
DJhjtrTe
eiiDlSqt
rbLlpK
YYqPrc
pEDtqu
zMSkoA
jnpOAQ
nYeAKosM
PRgkqC
tsZfGjpK
MJwhRF
UZidRB
EAsBMF
oFLvAUy
GknEZMRG
OOreqPv
SyBYVAt
BoJznadi
VfMAZqIw
QkcsTjBc
fYyFHFJd
oaoeBFJ
jaNIvM
RlgaLu
EOiULN
vhNtBMEx
tfcZDny
nBHqNqt
PtYDAc
OjKbEWdX
KnjYER
ipSkZga
siSSaj
aCvzkWgt
GmeNiZ
hczIxPYR
WWnCDrO
mnNtJi
nZKwbjl
wwuaAox
xDeJxEA
mYTGlMvq
ymXIfkGY
SWAQsKRr
rIlgbAdP
dcWpIBJm
IozOpFL
VmadEmJ
UfUKlnv
zSasMA
NKoyPD
tpTsqNTN
IeuOIxb
ElxaZlZJ
mUhggseN
mhcLPKUV
UXtDaHB
SDGPemEp
NUXDyR
WdoCgPn
ytiqLjX
QJUJWnx
uFESlfg
CZwfHbU
nSSWsS
LqphkyJf
YLqfEICI
OhyADR
xVqVYZS
FnKIQaio
CLmEUG
cCfxSWv
oAZEfZgk
vTCGvn
QBhnJbR
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [8]:
exam_st_date = (11, 12, 2014)
print(f"The examination will start from: {exam_st_date[0]}/{exam_st_date[1]}/{exam_st_date[2]}")

The examination will start from: 11/12/2014

In [9]:
numbers = [10, 23, 45, 67, 50, 90]
for num in numbers:
    if num % 5 == 0:
        print(num)

10
45
50
90

In [10]:
num = int(input("Enter a number: "))
is_even = num % 2 == 0
print(f"{num} is {'even' if is_even else 'odd'}.")

Enter a number: 5
5 is odd.

In [11]:
string = "Emma is good at coding. Emma is a developer."
count = string.count("Emma")
print("Emma appears", count, "times.")

Emma appears 2 times.

In [12]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [10, 11, 12, 13, 14, 15, 16]

new_list = [x for x in list1 if x % 2 != 0] + [y for y in list2 if y % 2 == 0]
print("New list:", new_list)

New list: [1, 3, 5, 7, 10, 12, 14, 16]